<div>
<table class="table">
    <tbody>
        <tr ng-if="eventsmodel.ready &&  eventsmodel.hasalerts()">
            <td class="align-left">
                <div class="row-fluid">
                    <div class="span9">
                        <alert ng-repeat="alert in eventsmodel.alerts" type="alert.type"> <img style="margin-right: 10px;" src="../img/alert-icon28x29.png">{{alert.msg}}</alert>
                    </div>
                </div>
            </td>
        </tr>
        <tr ng-repeat="event in eventsmodel.rows | limitTo: eventsmodel.maxlines" ng-if="eventsmodel.ready">
            <td class="align-left">
                <div>
                    <a href="#/etusivu/tapahtuma/{{event.post_id}}" title="{{'desktop.event.show.hint' | i18n}}"><h5>{{event.title | words:12}}</h5></a>
                </div>
                <div style="color: #999999">
                	{{event.event_date_time.event_start_date | toFinnishDate }}
                </div>
            </td>
        </tr>
        <tr ng-if="eventsmodel.ready && !eventsmodel.hasalerts() && eventsmodel.rows.length==0">
            <td class="align-left">
                <div style="color: #999999">
                    {{'desktop.events.messages.noevents' | i18n}}
                </div>
            </td>
        </tr>
        <tr ng-if="!eventsmodel.ready">
            <td class="align-left">
                <div style="color: #999999">
                    {{'desktop.events.messages.fetchingevents' | i18n}}
                </div>
            </td>
        </tr>
        <tr>
            <td ng-if="eventsmodel.maxlines<eventsmodel.rows.length">
                <a ng-click="eventsmodel.showmore()">&gt;&gt; {{'generic.showmore' | i18n}}</a>
            </td>
        </tr>
        <tr>
            <td ng-if="!eventsmodel.hasalerts()">
                <div>
                    <a href="#/etusivu/kalenteri/">&gt;&gt; {{'desktop.showcalendar' | i18n}}</h5></a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
</div>