<div>
<h5 ng-if="latestMaterial.post.tags">{{'desktop.materials.title.latestmessage' | i18n}}</h5>
<table class="table" ng-if="latestMaterial.post.id" style="margin-bottom:0;">
    <tr>
        <td class="align-left">
            <div>
                <a href="#/etusivu/materiaali/{{latestMaterial.post.id}}" title="{{'desktop.material.show.hint' | i18n}}"><h5>{{latestMaterial.post.title_plain | words:8}}</h5></a>
            </div>
            <div style="color: #999999">
                {{latestMaterial.post.date | toFinnishDateTime}} {{latestMaterial.post.author.name}}
            </div>
            <div>
                <span ng-repeat="tag in latestMaterial.post.tags" class="tag">{{tag.title}}</span>
            </div>
        </td>
    </tr>
</table>
<hr ng-if="latestMaterial.post.id" style="margin: 0;" />
<h5>{{'desktop.materials.title.messagetypes' | i18n}}</h5>
<table class="table" ng-repeat="tag in tagsmodel.rows" ng-if="tagsmodel.ready" style="margin-bottom:0;">
    <tr>
        <td ng-if="tag.shown" style="width: 40px; padding-top: 8px;">
            <button type="button" ng-click="tag.shown = false" style="border: none; background: white;">
                <img src="../img/itemtree-collapse-sprite-down.png" />
            </button>
        </td>
        <td ng-if="!tag.shown" style="width: 40px; padding-top: 8px;">
            <button type="button" ng-click="tag.shown = true" style="border: none; background: white;">
                <img src="../img/itemtree-collapse-sprite-right.png" />
            </button>
        </td>
        <td>
            <a ng-click="tag.shown=!tag.shown"><h5>{{tag.title}} ({{tag.rows.length}})</h5> </a>
        </td>
    </tr>
    <tr ng-if="materialsmodel.ready && materialsmodel.hasalerts()">
        <td></td>
        <td class="align-left">
            <div class="row-fluid">
                <div class="span9">
                    <alert ng-repeat="alert in materialsmodel.alerts" type="alert.type"> <img style="margin-right: 10px;" src="../img/alert-icon28x29.png">{{alert.msg}}</alert>
                </div>
            </div>
        </td>
    </tr>
    <tr ng-repeat="material in materialsmodel.rows | filterTags: tag | limitTo: tag.maxlines" ng-if="materialsmodel.ready && tag.shown">
        <td></td>
        <td class="align-left">
            <div>
                <a href="#/etusivu/materiaali/{{material.id}}" title="{{'desktop.material.show.hint' | i18n}}"><h5>{{material.title_plain | words:8}}</h5></a>
            </div>
            <div style="color: #999999">
                {{material.date | toFinnishDateTime}} {{material.author.name}}
            </div>
            <div>
                <span ng-repeat="tag in material.tags" class="tag">{{tag.title}}</span>
            </div>
        </td>
    </tr>
    <tr ng-if="materialsmodel.ready && tag.shown && !materialsmodel.hasalerts() && tag.rows.length==0">
        <td></td>
        <td class="align-left">
            <div style="color: #999999">
                {{'desktop.materials.messages.nomaterials' | i18n}}
            </div>
        </td>
    </tr>
    <tr ng-if="!materialsmodel.ready">
        <td class="align-left" colspan="2">
            <div style="color: #999999">
                {{'desktop.materials.messages.fetchingmaterials' | i18n}}
            </div>
        </td>
    </tr>
    <tr>
        <td ng-if="materialsmodel.ready && tag.shown && tag.maxlines<tag.rows.length" colspan="2">
            <a ng-click="tag.showmore()">&gt;&gt;{{'generic.showmore' | i18n}}</a>
        </td>
    </tr>
</table>
</div>