target
*/target
*/*/target
**/*~
*~
.project
.settings
.classpath
nb-configuration.xml
**/.project
**/.settings
**/.classpath
**/nb-configuration.xml
node_modules
.idea
src/main/resources/ui
dependency-reduced-pom.xml
.gradle
build
**/.DS_Store
