bin
target
*/target
*/*/target
**/*~
*~
npm-debug.log
.log
.project
.settings
.classpath
nb-configuration.xml
**/.project
**/.settings
**/.classpath
**/nb-configuration.xml
node_modules
.idea
src/main/resources/ui
dependency-reduced-pom.xml
.gradle
build
**/.DS_Store
.iml
.swn
.swo
.swp
/ui/app/resources/test/reports/
*.iml
