/* Editor */

.editor-has-link-form {
  min-height: 15rem;
}

.editor-timeline-item-form {
  margin-top: var(--space-2);
  padding-bottom: var(--space-2);
  border-bottom: 1px solid var(--border-color-base);
}

.editor-timeline-item-form:first-of-type {
  margin-top: 0
}

.editor-timeline-item-form:last-of-type {
  border-bottom: 0;
  padding-bottom: 0;
}

.editor-timeline-item-form .DraftEditor-editorContainer {
  min-height: 6rem;
}

.editor-targeting-group-select {
  max-height: 20rem;
  overflow-y: auto;
  border: 1px solid var(--border-color-base);
  border-radius: var(--border-radius-base);
}

.editor-targeting-group-button {
  font-weight: 400;
  text-align: left;
}

.editor-targeting-group-button[disabled] {
  border-color: transparent;
  background-color: transparent;
  color: var(--color-muted);
}

.editor-targeting-group-button:hover,
.editor-targeting-group-button:focus {
  color: var(--blue-lighten-2);
}

.editor-actions {
  text-align: center;
  padding-top: var(--space-3);
  padding-right: var(--space-3);
  padding-left: var(--space-3);
}

@media (--viewport-sm) {
  .editor-actions .oph-popup {
    left: 0 !important;
    margin-top: -4rem !important;
  }
}
