<div class="container">
    <div stp-breadcrumb></div>
    <div class="row-fluid">
        <div class="span12">
            <h1>{{'archive.title' | i18n}}</h1>
        </div>
    </div>
    <div class="row-fluid" style="vertical-align: middle; line-height:60px">
		<table>
			<tr>
				<td>
				<form name="perusHakuForm" class="form-search ng-scope ng-pristine ng-valid">
					<input type="text" ng-model="searchmodel.searchtext" style="margin-bottom: 0; height: 30px;" class="input-xxlarge" maxlength="50" placeholder="{{'desktop.search.placeholder' | i18n}}"/> 
    				<button class="btn btn-primary ng-binding" ng-click="searchmodel.search()" type="submit">{{'desktop.search' | i18n}}</button>
				</form>
				</td>
			</tr>
		</table>
     </div>
    <h2 ng-if="announcementsmodel.rows.length>=0 || materialsmodel.rows.length>0">{{'archive.text.results' | i18n}} "{{searchmodel.searchedtext}}" ({{(announcementsmodel.rows.length+materialsmodel.rows.length)}} {{'archive.text.count' | i18n}})</h2>
    <tabset>
        <tab heading="{{'desktop.announcements.title' | i18n}} ({{announcementsmodel.rows.length || 0}})" active="tabState.tab1" select="tabState.set_activetab(tabState.tab1)">
            <table style="width: 100%" ng-controller="announcementsTabCtrl">
                <tbody>
                    <tr>
                        <td style="width: 20%;">
                            <h5>{{'archive.text.filter_results' | i18n}}</h5>
                        </td>
                        <td style="vertical-align: top" rowspan="2">
 							<div ng-include="'archive/list.html'"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top">
                        	<div ng-include="'archive/filters.html'"/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </tab>
        <tab heading="{{'desktop.materials.title' | i18n}} ({{materialsmodel.rows.length || 0}})" active="tabState.tab0" select="tabState.set_activetab(tabState.tab0)">
            <table style="width: 100%" ng-controller="materialsTabCtrl">
                <tbody>
                    <tr>
                        <td style="width: 20%;">
                            <h5>{{'archive.text.filter_results' | i18n}}</h5>
                        </td>
                        <td style="vertical-align: top" rowspan="2">
							<div ng-include="'archive/list.html'"/>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top">
                        	<div ng-include="'archive/filters.html'"/>
                        </td>
                        </tr>
                </tbody>
            </table>
        </tab>        
    </tabset>
</div>