                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                        	<div ng-include="'archive/pagination.html'"/>
                                        </td>
                                    </tr>
                                    <tr ng-if="listmodel.ready && listmodel.hasalerts()">
                                        <td class="align-left">
                                            <div class="row-fluid">
                                                <div class="span9">
                                                    <alert ng-repeat="alert in listmodel.alerts" type="alert.type"> <img style="margin-right: 10px;" src="../img/alert-icon28x29.png">{{alert.msg}}</alert>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="row in listmodel.rows | startFrom: listmodel.pagesize*(listmodel.pagenr-1)  |  limitTo: listmodel.pagesize" ng-if="listmodel.ready">
                                        <td class="align-left">
                                            <div>
                                                <a href="{{linkUrl}}{{row.id}}" title="{{'archive.row.show.hint' | i18n}}"><h5><span ng-html-compile="row.title_plain_short"/></h5></a>
                                            </div>
                                            <div style="color: #999999">
                                                {{row.date | toFinnishDateTime}} {{row.author.name}}
                                            </div>
                                            <div>
                                            	<span ng-repeat="tag in row.tags" class="tag">{{tag.title}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="!listmodel.hasalerts() && listmodel.rows.length==0">
                                        <td class="align-left">
                                            <div style="color: #999999">
                                                {{'archive.text.messages.norows' | i18n}}
                                            </div>
                                        </td>
                                    </tr>
                                    <tr ng-if="listmodel.rows.length>0">
                                        <td>
                                        	<div ng-include="'archive/pagination.html'"/>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>