<div class="row-fluid">
    <div class="span12">
        <table style="width: 100%">
        	<tr style="vertical-align: top;">
        		<td>
                    <table style="width: 100%;" ng-show="selectedcategoriesmodel.ready">
                        <tr style="width: 100%;  float: left; text-align:right">
                            <td width="100%"></td>
                            <td style="padding-right: 5px; white-space: nowrap;"><b> {{'userroles.dropbox.label' | i18n}} </b></td>
                            <td style="vertical-align: top;" ng-repeat="category in categoriesmodel.rows">
                            	<table>
                            		<tr>
                            			<td>
            								<input type="checkbox" ng-model="category.checked" ng-change="selectedcategoriesmodel.clicked(category)"  />
            							</td>
            							<td style="padding-right: 5px; white-space: nowrap;">{{category.title}}</td>
            						</tr>
            					</table>
        					</td>
 
                        </tr>
                    </table>
               </td>
            </tr>
            <tr>
                <td>
                    <h1>{{'desktop.title' | i18n}}</h1>
                </td>
                <td style="float: right; padding-top: 20px;">
               </td>
            </tr>
        </table>
    </div>
</div>