/* Project styles */

/* Basscss overrides */

.caps {
  letter-spacing: .1em;
}

/* Semantic UI Dropdown */

.semantic-ui.ui.selection.dropdown {
  padding-right: 1rem;
  padding-left: 1rem;
  border-color: var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-inner);
}

.semantic-ui.ui.selection.active.dropdown:hover,
.semantic-ui.ui.selection.active.dropdown:focus {
  box-shadow: var(--box-shadow-inner);
}

.semantic-ui.ui.selection.dropdown:hover,
.semantic-ui.ui.selection.dropdown:focus {
  border-color: var(--border-color-hover)
}

.semantic-ui .search {
  font-family: var(--base-font-family);
  font-size: var(--h4);
}

.semantic-ui.ui.multiple.search.dropdown > input.search,
.semantic-ui.ui.multiple.search.dropdown > .text {
  margin-right: 0;
  margin-left: 0;
  padding-right: var(--space-2);
}

.semantic-ui.ui.multiple.search.dropdown > .text {
  color: var(--muted);
}

.semantic-ui.ui.multiple.dropdown > .label {
  margin-right: var(--space-1);
  background-color: var(--gray-lighten-1);
  border-radius: var(--border-radius);
  color: var(--white);
  box-shadow: 0 0 0;
}

.semantic-ui.ui.multiple.dropdown > .label:hover {
  background-color: var(--gray-lighten-2);
  cursor: pointer;
}

/* Reset content for .label since components/form.css uses the same class */
.semantic-ui .label:after {
  content: "";
}

/* Multiply sign (&times;) for a delete icon */
.semantic-ui .delete:after {
  font-style: normal;
  font-weight: var(--font-weight-bold);
  margin-left: var(--space-1);
  content: "\00d7";
}

.semantic-ui.ui.selection.dropdown .menu,
.semantic-ui.ui.selection.dropdown:hover .menu,
.semantic-ui.ui.selection.dropdown:focus .menu {
  margin-top: 1px;
  padding: var(--space-1) 0;
  border-color: var(--border-color);
}

.semantic-ui.ui.dropdown .menu > .item {
  border-top: 0;
}

.semantic-ui.ui.dropdown .menu > .item:hover {
  background-color: var(--blue-lighten-4);
}

.ui.selection.dropdown .menu > .message {
  color: var(--muted);
  padding: var(--space-1) var(--space-2);
}

/* Draft.js */

.RichEditor-root {
  position: relative;
  padding: 0 var(--input-padding-x);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-inner);
}

.RichEditor-root:hover {
  border-color: var(--border-color-hover);
}

.RichEditor-controls-container {
  border-bottom: 1px solid var(--gray-lighten-3);
}

.DraftEditor-editorContainer {
  font-size: var(--h4);
  min-height: 15rem;
  padding: var(--space-2) 0;
}

/* React Datepicker */

.react-datepicker__input-container {
  width: 100%;
}

.react-datepicker__close-icon::after {
  font-size: var(--h4);
  font-weight: var(--font-weight-bold);
  top: 0;
  right: 0;
  width: auto;
  height: auto;
  margin-top: -3px;
  padding: var(--space-2);
  background-color: inherit;
  color: var(--black);
}

.react-datepicker__close-icon:hover::after {
  color: var(--link-color-hover);
}

.react-datepicker {
  font-size: var(--h5);
  border-radius: var(--border-radius);
  border-color: var(--border-color);
  background-color: var(--white);
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__header {
  background-color: var(--gray-lighten-5);
}

.react-datepicker__current-month,
.react-datepicker__month-dropdown-container {
  font-size: var(--h4);
}

.react-datepicker__month-dropdown {
  max-height: 20rem;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: .5rem 0;
  border-color: var(--border-color);
  background-color: var(--white);
}

.react-datepicker__month-read-view {
  padding: var(--space-1);
  border-radius: var(--border-radius);
}

.react-datepicker__month-read-view:hover {
  color: var(--link-color-hover);
}

.react-datepicker__month-read-view:hover .react-datepicker__month-read-view--down-arrow {
  border-top-color: var(--link-color-hover);
}

.react-datepicker__month-read-view--down-arrow {
  border-top-color: var(--gray-lighten-1);
}

.react-datepicker__month-option {
  padding-top: var(--space-1);
  padding-bottom: var(--space-1);
}

.react-datepicker__month-option:first-of-type,
.react-datepicker__month-option:last-of-type {
  border-radius: 0;
}

.react-datepicker__month-option:hover {
  background-color: var(--blue-lighten-4);
}

.react-datepicker__navigation {
  border: 0;
}

.react-datepicker__navigation--next {
  right: 0;
}

.react-datepicker__navigation--previous {
  left: 0;
}

.react-datepicker__navigation:after {
  position: absolute;
  width: var(--space-4);
  padding: var(--space-2);
  color: var(--gray-lighten-1);
}

.react-datepicker__navigation:hover:after {
  color: var(--link-color-hover);
}

.react-datepicker__navigation--next:after {
  right: 0;
  content: "\25b6"
}

.react-datepicker__navigation--previous:after {
  left: 0;
  content: "\25C0"
}

.react-datepicker__month {
  margin: 0;
}

.react-datepicker__day-name,
.react-datepicker__week-number,
.react-datepicker__day {
  /* 7 columns: week number + weekdays */
  width: 14%;
  max-width: var(--space-4);
  margin: 0;
  padding: var(--space-05) var(--space-2);
}

.react-datepicker__current-month,
.react-datepicker__month-read-view,
.react-datepicker__month-dropdown,
.react-datepicker__day-name {
  color: var(--body-copy-color);
}

.react-datepicker__week-number {
  color: var(--muted);
}

.react-datepicker__day--today {
  background-color: var(--green);
}

.react-datepicker__day--selected {
  background-color: var(--primary);
  color: var(--white);
}

.react-datepicker__day.react-datepicker__day--in-range {
  background-color: var(--blue-lighten-1);
}

.react-datepicker__day--selected.react-datepicker__day--disabled.react-datepicker__day--in-range,
.react-datepicker__day--disabled.react-datepicker__day--in-range {
  background-color: var(--white);
  color: var(--blue-lighten-1);
}

.react-datepicker__day--selected.react-datepicker__day--disabled.react-datepicker__day--in-range:hover,
.react-datepicker__day--disabled.react-datepicker__day--in-range:hover {
  color: var(--blue-lighten-1);
}

.react-datepicker__day.react-datepicker__day--in-selecting-range:not(.react-datepicker__day--in-range) {
  background-color: var(--blue-lighten-4);
  color: var(--body-copy-color);
}

.react-datepicker__day--disabled {
  color: var(--muted);
}

.react-datepicker__day:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__day.react-datepicker__day--selecting-range-start:hover,
.react-datepicker__day.react-datepicker__day--selecting-range-end:hover {
  background-color: var(--link-color-hover);
  color: var(--white);
}

.react-datepicker__day--disabled.react-datepicker__day--selected,
.react-datepicker__day--disabled:hover {
  background-color: transparent;
  color: var(--muted);
}

.react-datepicker__day:hover,
.react-datepicker__day--selected,
.react-datepicker__day--in-range,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--today {
  border-radius: 0;
}

/* Set datepicker as 100 % wide on mobile */
@media (--viewport-sm) {
  .react-datepicker__tether-element {
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    transform: initial !important;
  }

  .react-datepicker__tether-element-attached-bottom.react-datepicker__tether-element {
    margin-top: 0;
  }

  .react-datepicker {
    width: 100%;
    border: 0;
    border-bottom: 1px solid var(--border-color);
    border-radius: 0;
  }

  .react-datepicker__month-container {
    float: none;
  }

  .react-datepicker__month-read-view {
    padding: var(--space-2);
  }
}

/* Menu */

.menu {
  display: none;

  @media (--breakpoint-md) {
    display: block;
  }
}

.menu-is-visible {
  display: block;
}

/* Notifications */
.notifications {
  height: 80vh;
}

.notification-is-expandable:hover {
  cursor: pointer;
}

.notification-is-expandable:hover .notification-heading {
  color: var(--link-color-hover);
}

.notification-tag-select-container {
  margin-top: -1px;
}

.semantic-ui.ui.selection.notification-tag-select {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

/* Timeline */

.timeline {
  height: 80vh;
}

/* Timeline axis line */
.timeline-axis {
  clear: both;
}

.timeline-axis:after {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  content: "";
  border-left: 2px solid var(--blue-darken);

  @media (--sm-and-lg) {
    left: 50%;
  }
}

.timeline-heading {
  margin-top: var(--space-3);
  margin-left: calc(var(--space-2) + var(--space-1));
  padding: var(--space-05) var(--space-1);

  @media (--sm-and-lg) {
    margin-left: 0;
  }
}

.timeline-heading:first-of-type {
  margin-top: 0;
}

/* Pointers for timeline days */
.timeline-day:before {
  position: absolute;
  content: "";
  top: calc(var(--space-3) - 8px);
  left: 10px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 16px 14px 0;
  border-color: transparent var(--blue) transparent transparent;
}

.timeline-day:nth-of-type(odd):before {
  @media (--sm-and-lg) {
    left: auto;
    right: 10px;
    border-width: 14px 0 14px 16px;
    border-color: transparent transparent transparent var(--blue);
  }
}

/* Dots for timeline days */
.timeline-day:after {
  position: absolute;
  top: var(--space-3);
  left: 0;
  width: 10px;
  height: 10px;
  transform: translateX(-4px);
  content: "";
  border-radius: 50%;
  background: var(--blue-darken);
}

.timeline-day:nth-of-type(odd):after {
  @media (--sm-and-lg) {
    left: auto;
    right: 0;
    transform: translateX(6px);
  }
}

/* Timeline days */
.timeline-day:nth-of-type(even) {
  @media (--sm-and-lg) {
    margin-top: -var(--space-4);
    align-self: flex-end;
  }
}

.timeline-day:nth-of-type(odd) {
  margin-top: var(--space-3);
  margin-bottom: var(--space-3);

  @media (--sm-and-lg) {
    margin-bottom: 0;
  }
}

.timeline-day:nth-of-type(even) .timeline-item {
  margin-left: calc(var(--space-2) + var(--space-1));
}

.timeline-day:nth-of-type(odd) .timeline-item {
  margin-left: calc(var(--space-2) + var(--space-1));

  @media (--sm-and-lg) {
    margin-left: 0;
    margin-right: calc(var(--space-2) + var(--space-1));
  }
}

/* TODO: Contrast */
.timeline-item a {
  color: var(--blue-lighten-3);
}

.timeline-item a:hover,
.timeline-item a:focus {
  color: var(--blue-lighten-4);
}

/* Editor */

.editor-has-link-form {
  min-height: 15rem;
}

.timeline-item-form {
  margin-top: var(--space-2);
  padding-bottom: var(--space-2);
  border-bottom: 1px solid var(--gray-lighten-3);
}

.timeline-item-form:first-of-type {
  margin-top: 0
}

.timeline-item-form:last-of-type {
  border-bottom: 0;
  padding-bottom: 0;
}

.timeline-item-form .DraftEditor-editorContainer {
  min-height: 6rem;
}

.release-usergroup-button:hover,
.release-usergroup-button:focus {
  color: var(--white);
}

.border-widen-1 {
  border-width: var(--border-widen-1) ;
}

.invisible {
  visibility: hidden;
}
