<div class="container" ng-if="loadingReady">
	<div stp-breadcrumb></div>
    <div class="row-fluid">
        <div class="span12">
            <h1><div ng-bind-html="htmlTitle"/></h1>
        </div>
    </div>
    <div style="color: #999999">
    	{{model.announcement.date  | toFinnishDateTime}} {{model.announcement.author.name}}
    </div>
    <div>
    	<span ng-repeat="tag in model.announcement.tags" class="tag">{{tag.title}}</span>
    </div>    
    <ul>
		<li  ng-repeat="attachment in model.material.attachments"><i class="icon-file"></i> <a href="{{attachment.url}}" target="_blank">{{attachment.title}}</a></li>
	</ul>    
    <p/>
   	<div ng-bind-html="htmlContent"/>
   	<div stp-goback/>
    <p/>
</div>
  
