/* Buttons */

.button {
  line-height: 1.125rem;
  padding: var(--space-2);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  background-color: transparent;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:focus {
  border-color: var(--gray-lighten-3);
  background-color: var(--gray-lighten-3);
}

.button:hover {
  text-decoration: none;
}

.button:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button-primary {
  color: var(--white);
  border-color: var(--primary);
  background-color: var(--primary);
}

.button-primary:hover,
.button-primary:focus {
  border-color: var(--link-color-hover);
  background-color: var(--link-color-hover);
}

.button-link:hover,
.button-link:focus {
  color: var(--link-color-hover);
}

.button-link-is-active {
  color: var(--link-color);
}

.button-link:disabled,
.button-link:disabled:hover,
.button-link:disabled:focus {
  color: inherit;
  border-color: transparent;
  background-color: transparent;
  opacity: .25;
}

.button-lg {
  font-size: var(--h4);
  padding-left: var(--space-3);
  padding-right: var(--space-3);
}
