/* Component styles */
@import "components/alerts.css";
@import "components/buttons.css";
@import "components/popups.css";
@import "components/spinner.css";

*,
:after,
:before {
  box-sizing: inherit;
}

html {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  text-size-adjust: 100%;
  color: var(--body-copy-color);
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: var(--gray-lighten-5);
}

/* Typography */

h1,h2,h3 {
  font-family: var(--base-font-family);
  margin-top: 0;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover,
a:focus {
  color: var(--link-color-hover);
}

.lowercase {
  text-transform: lowercase;
}

/* Backgrounds */

.bg-white {
  background-color: var(--white);
}

.bg-gray-lighten-1 {
  background-color: var(--gray-lighten-1);
}

.bg-gray-lighten-5 {
  background-color: var(--gray-lighten-5);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-blue-darken {
  background-color: var(--blue-darken);
}

.bg-blue-lighten-4 {
  background-color: var(--blue-lighten-4);
}

/* Borders */

.border-primary {
  border-color: var(--primary);
}

.border-gray-lighten-2 {
  border-color: var(--gray-lighten-2);
}

.border-gray-lighten-3 {
  border-color: var(--gray-lighten-3);
}

.border-blue {
  border-color: var(--blue);
}

.border-blue-lighten-3 {
  border-color: var(--blue-lighten-3);
}

.rounded-bottom-left {
  border-bottom-left-radius: var(--border-radius);
}

.rounded-bottom-right {
  border-bottom-right-radius: var(--border-radius);
}

@media (--breakpoint-md) {
  .md-border-bottom {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
}

/* Layout */

.container {
  max-width: var(--container-width);
  padding: 0 var(--space-2);
}

.box-shadow {
  box-shadow: var(--box-shadow);
}

.autohide-scrollbar {
  overflow-y: hidden;
  overflow-x: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

/* Display scrollbar only on hover or touch */
.autohide-scrollbar:hover,
.autohide-scrollbar:active {
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

/* Tabs */

.tabs {
  position: relative;
  width: 100%;

  @media (--breakpoint-sm) {
    display: flex;
    padding-bottom: 0;
  }
}

.tabs:after {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  border-bottom: 1px solid var(--border-color);
}

.tab-item {
  font-weight: var(--font-weight-bold);
  text-align: center;
  text-decoration: none;
  display: block;
  padding: var(--space-1) var(--space-3);

  @media (--breakpoint-sm) {
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-top-width: var(--border-widen-1);
    border-bottom-color: var(--border-color);
  }
}

.tab-item:focus {
  outline: 0;
}

.tab-item-is-active {
  z-index: var(--z2);
  color: var(--body-copy-color);
  background-color: var(--white);
  outline: 0;

  @media (--breakpoint-sm) {
    border-top: var(--border-widen-1) solid var(--link-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--white);
    border-left: 1px solid var(--border-color);
  }
}

.tab-item-is-active:hover,
.tab-item-is-active:focus {
  color: var(--body-copy-color);
  cursor: default;
}

.tab-pane {
  display: none;
}

.tab-pane-is-active {
  display: block;
  padding: var(--space-3) 0;
}

/* Form */

::placeholder {
  color: var(--muted);
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.field {
  margin-bottom: var(--space-2);
}

.label,
.legend {
  display: inline-block;
  margin-bottom: var(--space-1);
}

.field-is-required .label:after,
.field-is-required .legend:after {
  content: " *"
}

.input {
  font-family: var(--base-font-family);
  font-size: inherit;
  width: 100%;
  padding: var(--input-padding-y) var(--input-padding-x);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-inner);
}

.input:hover {
  border-color: var(--border-color-hover);
}

.input:focus {
  border-color: var(--blue-lighten-3);
  background-color: var(--blue-lighten-4);
  box-shadow: 0 0 0;
  outline: none;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox:hover {
  color: var(--link-color-hover);
  cursor: pointer;
}

.checkbox input {
  margin-right: var(--space-1);
}

.checkbox-button-text:hover,
.checkbox-button input:focus + .checkbox-button-text {
  color: var(--link-color-hover);
  border-color: var(--link-color-hover);
  cursor: pointer;
}

.checkbox-button input:checked + .checkbox-button-text {
  color: var(--white);
  border-color: var(--link-color);
  background-color: var(--link-color);
}

.checkbox-button input:checked + .checkbox-button-text:hover,
.checkbox-button input:checked:focus + .checkbox-button-text {
  border-color: var(--link-color-hover);
  background-color: var(--link-color-hover);
}

.radio-button-group {
  display: block;
  padding: var(--space-05);
  border: var(--border-widen-1) solid var(--link-color);
  border-radius: var(--border-radius);
  background-color: var(--white);

  @media (--breakpoint-md) {
    display: inline-block;
  }
}

/* Display input only on screen readers */
.radio-button-input {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.radio-button-text {
  display: block;
  padding: var(--space-1) var(--space-2);
  border-radius: var(--border-radius);
  color: var(--link-color);

  @media (--breakpoint-md) {
    display: inline-block;
  }
}

.radio-button-text:hover,
.radio-button-input:focus + .radio-button-text {
  color: var(--link-color-hover);
  cursor: pointer;
}

.radio-button-input:checked + .radio-button-text,
.radio-button-input:checked + .radio-button-text:hover,
.radio-button-input:checked:focus + .radio-button-text {
  color: var(--white);
  background-color: var(--link-color);
  cursor: default;
}

/* Overlay */

.overlay {
  position: relative;
  overflow: auto;
  background-color: rgba(0, 0, 0, .25);
}

.overlay-is-visible {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z5);
}

/* Modal */

.modal {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: var(--space-3) var(--space-2);
  z-index: var(--z6);
}

.modal-lg .modal-dialog {
  width: 100%;
}

.modal-dialog {
  position: relative;
  margin: 0 auto;
  padding: var(--space-3) 0;
  border-radius: var(--border-radius);
  background-color: var(--white);
  box-shadow: var(--box-shadow);

  @media (--breakpoint-md) {
    width: var(--modal-width);
  }
}

/* Colors */

.primary {
  color: var(--primary);
}

.black {
  color: var(--black);
}

.white {
  color: var(--white);
}

/* TODO: Contrast */
.muted {
  color: var(--muted);
}

.gray {
  color: var(--gray);
}

.gray-lighten-1 {
  color: var(--gray-lighten-1);
}

.blue-lighten-1 {
  color: var(--blue-lighten-1);
}
