/* Component styles */
@import "components/alerts.css";
@import "components/buttons.css";
@import "components/popups.css";
@import "components/spinner.css";

*,
:after,
:before {
  box-sizing: inherit;
}

html {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  text-size-adjust: 100%;
  color: var(--body-copy-color);
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--gray-lighten-4);
}

/* Typography */

h1,h2,h3 {
  font-family: var(--base-font-family);
  margin-top: 0;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover,
a:focus {
  color: var(--link-color-hover);
  outline: none;
}

.lowercase {
  text-transform: lowercase;
}

/* Backgrounds */

.bg-white {
  background-color: var(--white);
}

.bg-gray {
  background-color: var(--gray);
}

.bg-gray-lighten-1 {
  background-color: var(--gray-lighten-1);
}

.bg-gray-lighten-2 {
  background-color: var(--gray-lighten-2);
}

.bg-gray-lighten-4 {
  background-color: var(--gray-lighten-4);
}

.bg-gray-lighten-5 {
  background-color: var(--gray-lighten-5);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-blue-darken {
  background-color: var(--blue-darken);
}

.bg-blue-lighten-2 {
  background-color: var(--blue-lighten-2);
}

.bg-blue-lighten-4 {
  background-color: var(--blue-lighten-4);
}

.bg-green-lighten {
  background-color: var(--green-lighten);
}

/* Borders */

.border-primary {
  border-color: var(--primary);
}

.border-gray-lighten-2 {
  border-color: var(--gray-lighten-2);
}

.border-gray-lighten-3 {
  border-color: var(--gray-lighten-3);
}

.border-blue {
  border-color: var(--blue);
}

.border-blue-lighten-3 {
  border-color: var(--blue-lighten-3);
}

.rounded-bottom-left {
  border-bottom-left-radius: var(--border-radius);
}

.rounded-bottom-right {
  border-bottom-right-radius: var(--border-radius);
}

@media (--breakpoint-md) {
  .md-border-bottom {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
}

/* Layout */

.container {
  max-width: var(--container-width);
  padding: 0 var(--space-2);
}

.box-shadow {
  box-shadow: var(--box-shadow);
}

.is-visible-on-focus {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.is-visible-on-focus:focus {
  position: relative;
  height: auto;
  width: auto;
  overflow: auto;
  clip: auto;
}

/* Tabs */

.tabs {
  position: relative;
  width: 100%;

  @media (--breakpoint-sm) {
    display: flex;
    padding-bottom: 0;
  }
}

.tabs:after {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  border-bottom: 1px solid var(--border-color);
}

.tab-item {
  font-weight: var(--font-weight-bold);
  text-align: center;
  text-decoration: none;
  display: block;
  padding: var(--space-1) var(--space-3);

  @media (--breakpoint-sm) {
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-top-width: var(--border-widen-1);
    border-bottom-color: var(--border-color);
  }
}

.tab-item:focus {
  outline: 0;
}

.tab-item-is-active {
  z-index: var(--z2);
  color: var(--body-copy-color);
  background-color: var(--white);
  outline: 0;

  @media (--breakpoint-sm) {
    border-top: var(--border-widen-1) solid var(--link-color);
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--white);
    border-left: 1px solid var(--border-color);
  }
}

.tab-item-is-active:hover,
.tab-item-is-active:focus {
  color: var(--body-copy-color);
  cursor: default;
}

.tab-pane {
  display: none;
}

.tab-pane-is-active {
  display: block;
  padding: var(--space-3) 0;
}

/* Buttons */

.oph-button-cancel {
  background-color: var(--gray);
  color: var(--white);
}

.oph-button-cancel:hover,
.oph-button-cancel:focus {
  background-color: var(--gray-lighten-1);
}

.button-icon {
  padding-top: var(--space-2);
  padding-bottom: var(--space-2);
}

.button-icon[disabled] {
  border-color: transparent;
  background-color: transparent;
  color: var(--muted);
}

/* Form */

::placeholder {
  color: var(--muted);
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.field {
  margin-bottom: var(--space-2);
}

.label,
.legend {
  display: inline-block;
  margin-bottom: var(--space-1);
}

.field-is-required .label:after,
.field-is-required .legend:after {
  content: " *"
}

.input {
  font-family: var(--base-font-family);
  font-size: inherit;
  width: 100%;
  padding: var(--input-padding-y) var(--input-padding-x);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-inner);
}

.input:hover {
  border-color: var(--border-color-hover);
}

.input:focus {
  border-color: var(--blue-lighten-3);
  background-color: var(--blue-lighten-4);
  box-shadow: 0 0 0;
  outline: none;
}

.checkbox {
  display: flex;
}

.checkbox:hover,
.checkbox-input:focus + .checkbox-text {
  color: var(--link-color-hover);
  cursor: pointer;
}

.checkbox-input {
  order: 1;
  margin-right: var(--space-1);
}

.checkbox-text {
  order: 2;
}

.checkbox-icon {
  /* Align icon with text */
  margin-top: 4px;
}

.checkbox-button-text:hover,
.checkbox-button input:focus + .checkbox-button-text {
  color: var(--link-color-hover);
  border-color: var(--link-color-hover);
  cursor: pointer;
}

.checkbox-button input:checked + .checkbox-button-text {
  color: var(--white);
  border-color: var(--link-color);
  background-color: var(--link-color);
}

.checkbox-button input:checked + .checkbox-button-text:hover,
.checkbox-button input:checked:focus + .checkbox-button-text {
  border-color: var(--link-color-hover);
  background-color: var(--link-color-hover);
}

.checkbox-button input:checked:disabled + .checkbox-button-text,
.checkbox-button input:disabled + .checkbox-button-text {
  color: var(--gray-lighten-3);
  border-color: var(--gray-lighten-3);
  background-color: var(--white);
  pointer-events: none;
}

.radio-button-group {
  display: block;
  padding: var(--space-05);
  border: var(--border-widen-1) solid var(--link-color);
  border-radius: var(--border-radius);
  background-color: var(--white);

  @media (--breakpoint-md) {
    display: inline-block;
  }
}

/* Display input only on screen readers */
.radio-button-input {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.radio-button-text {
  display: block;
  padding: var(--space-1) var(--space-2);
  border-radius: var(--border-radius);
  color: var(--link-color);

  @media (--breakpoint-md) {
    display: inline-block;
  }
}

.radio-button-text:hover,
.radio-button-input:focus + .radio-button-text {
  color: var(--link-color-hover);
  cursor: pointer;
}

.radio-button-input:checked + .radio-button-text,
.radio-button-input:checked + .radio-button-text:hover,
.radio-button-input:checked:focus + .radio-button-text {
  color: var(--white);
  background-color: var(--link-color);
  cursor: default;
}

/* Colors */

.primary {
  color: var(--primary);
}

.black {
  color: var(--black);
}

.white {
  color: var(--white);
}

.muted {
  color: var(--muted);
}

.gray {
  color: var(--gray);
}

.gray-lighten-1 {
  color: var(--gray-lighten-1);
}

.blue-lighten-1 {
  color: var(--blue-lighten-1);
}

.blue-lighten-2 {
  color: var(--blue-lighten-2);
}

.green {
  color: var(--green);
}

.red {
  color: var(--red);
}

/* Animations */

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.animation-pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
