/* Component styles */
@import "components/button.css";

/* External dependencies */
@import "basscss";
@import "basscss-responsive-type-scale";
@import "basscss-responsive-typography";
@import "basscss-responsive-margin";
@import "basscss-responsive-padding";
@import "basscss-responsive-layout";
@import "font-awesome";

html {
  /*font-size: 100%;*/
  font-size: var(--base-font-size);
}

body {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  /*font-size: 100%;*/
  line-height: var(--base-line-height);
  overflow: hidden;
  color: var(--body-copy-color);
  background-color: var(--silver);
}

/* Typography */

h1,h2,h3 {
  font-family: var(--base-font-family);
}

a {
  color: var(--link-color);
}

a:hover,
a:focus {
  text-decoration: none;
  color: var(--link-color-hover);
}

.caps {
  letter-spacing: .1em;
}

.lowercase {
  text-transform: lowercase;
}

/* Colors */

.primary {
  color: var(--primary);
}

.white {
  color: var(--white);
}

.muted {
  color: var(--muted);
}

.blue-lighten-1 {
  color: var(--blue-lighten-1);
}

/* Backgrounds */

.bg-white {
  background-color: var(--white);
}

.bg-gray-lighten-1 {
  background-color: var(--gray-lighten-1);
}

.bg-silver {
  background-color: var(--silver);
}

.bg-blue {
  background-color: var(--blue);
}

.bg-blue-darken {
  background-color: var(--blue-darken);
}

/* Borders */

.border-widen-1 {
  border-width: var(--border-widen-1) ;
}

.border-primary {
  border-color: var(--primary);
}

.border-gray-lighten-2 {
  border-color: var(--gray-lighten-2);
}

.border-gray-lighten-3 {
  border-color: var(--gray-lighten-3);
}

.border-blue {
  border-color: var(--blue);
}

.rounded-bottom-left {
  border-bottom-left-radius: var(--border-radius);
}

.rounded-bottom-right {
  border-bottom-right-radius: var(--border-radius);
}

@media (--breakpoint-sm) {
  .sm-border-bottom {
    border-bottom-width: 1px;
    border-bottom-style: solid;
  }
}

/* Layout */

.container {
  max-width: var(--container-width);
  padding: 0 var(--space-2);
}

.box-shadow {
  box-shadow: var(--box-shadow);
}

.autohide-scrollbar {
  overflow-y: hidden;
  overflow-x: visible;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

/* Display scrollbar only on hover or touching */
.autohide-scrollbar:hover,
.autohide-scrollbar:active {
  overflow-y: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

/* Tabs */

.tabs {
  position: relative;
  display: flex;
}

.tabs:after {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  border-bottom: 1px solid var(--border-color);
}

.tab-item {
  font-weight: var(--font-weight-bold);
  display: inline-block;
  padding: var(--space-1) var(--space-3);
  border-width: 1px;
  border-style: solid;
  border-color: var(--white);
  border-top-width: var(--border-widen-1);
  border-bottom-color: var(--border-color);
}

.tab-item:focus {
  outline: 0;
}

.tab-item-is-active {
  z-index: var(--z2);
  border-top: var(--border-widen-1) solid var(--link-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--white);
  border-left: 1px solid var(--border-color);
  color: var(--body-copy-color);
  outline: 0;
}

.tab-item-is-active:hover,
.tab-item-is-active:focus {
  color: var(--body-copy-color);
  cursor: default;
}

.tab-pane {
  display: none;
}

.tab-pane-is-active {
  display: block;
  padding: var(--space-2) 0;
}

/* Form */

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.field {
  margin-bottom: var(--space-2);
}

.label,
.legend {
  display: inline-block;
  margin-bottom: var(--space-1);
}

.field-is-required .label:after,
.field-is-required .legend:after {
  content: " *"
}

.input {
  width: 100%;
  padding: var(--input-padding-y) var(--input-padding-x);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-inner);
}

.input:hover {
  border-color: var(--border-color-hover);
}

.input:focus {
  border-color: var(--blue-lighten-3);
  background-color: var(--blue-lighten-4);
  box-shadow: 0 0 0;
  outline: none;
}

.input-group {
  display: flex;
}

.input-group .input {
  flex: 1;
  width: auto;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input-group .input-group-button {
  padding: var(--input-padding-y) var(--input-padding-x);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox:hover {
  color: var(--link-color-hover);
  cursor: pointer;
}

.checkbox input {
  margin-right: var(--space-1);
}

.checkbox-button-text:hover,
.checkbox-button input:focus + .checkbox-button-text {
  color: var(--link-color-hover);
  border-color: var(--link-color-hover);
  cursor: pointer;
}

.checkbox-button input:checked + .checkbox-button-text {
  color: var(--white);
  border-color: var(--link-color);
  background-color: var(--link-color);
}

.checkbox-button input:checked + .checkbox-button-text:hover,
.checkbox-button input:checked:focus + .checkbox-button-text {
  border-color: var(--link-color-hover);
  background-color: var(--link-color-hover);
}

/* Overlay */

.overlay {
  position: relative;
  overflow: auto;
  background-color: rgba(0, 0, 0, .25);
}

.overlay-is-visible {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z5);
}

/* Modal */

.modal {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: var(--space-3) var(--space-2);
  z-index: var(--z6);
}

.modal-lg .modal-dialog {
  width: 100%;
}

.modal-dialog {
  position: relative;
  margin: 0 auto;
  padding: var(--space-3) 0;
  border-radius: var(--border-radius);
  background-color: var(--white);
  box-shadow: var(--box-shadow);

  @media (--breakpoint-md) {
    width: var(--modal-width);
  }
}

.modal-close-button {
  font-size: var(--h1);
  color: var(--muted);
  z-index: var(--z2);
}

/* Alert */

.alert {
  padding: var(--space-2);
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  color: var(--gray);
}

.alert-warning {
  background-color: var(--bg-color-warning);
  border-color: var(--border-color-warning);
}

/* Padding */

.px0 {
  padding-right: 0;
  padding-left: 0;
}

/* Variables */
/* Naming: component-property-modifier */

:root {
  /* Typography */

  --base-font-family: "Open Sans", "Helvetica", sans-sefif;
  --base-font-size:   15px;

  --font-weight-bold: 600;

  /* Readable height of ~1.428 */
  --base-line-height: calc(1 * (20/14));

  /* Layout */

  --container-width:      90rem;
  --space-05:             .25rem;

  /* Z-index */
  --z1: 1;
  --z2: 2;
  --z3: 3;
  --z4: 4;
  --z5: 5;
  --z6: 6;

  /* Colors */

  --black:          #2a2a2a;

  --white:          #fdfdfd;

  --gray:           #2b2b2b;
  --gray-lighten-1: #666;
  --gray-lighten-2: #aeaeae;
  --gray-lighten-3: #ccc;
  --silver:         #f6f4f0;

  --red:            #e44e4e;
  --red-lighten-1:  #e09191;
  --red-lighten-2:  #ffe9e9;

  --blue-darken:    #00526c;
  --blue:           #0a789c;
  --blue-lighten-1: #159ecb;
  --blue-lighten-2: #00b5f0;
  --blue-lighten-3: #a6dcee;
  --blue-lighten-4: #def2ff;

  --green:          #99d740;
  --green-lighten:  #e6ffc1;

  --yellow:         #ffd024;
  --yellow-lighten: #fff7bc;

  --primary:            var(--blue-lighten-1);
  --muted:              var(--gray-lighten-1);
  --body-copy-color:    var(--gray);
  --link-color:         var(--blue-lighten-1);
  --link-color-hover:   var(--blue-lighten-2);
  --border-color:       var(--gray-lighten-2);
  --border-color-hover: var(--gray-lighten-1);

  --bg-color-warning:     var(--yellow-lighten);
  --border-color-warning: var(--yellow);

  /* Borders */

  --border-radius:  2px;
  --border-widen-1: 2px;

  /* Miscellaneous */

  --box-shadow:       0 1px 4px rgba(0, 0, 0, .2);
  --box-shadow-inner: inset var(--box-shadow);

  /* Modals */

  --modal-width: calc(var(--container-width) / 2);

  /* Forms */

  --input-padding-x: var(--space-2);
  --input-padding-y: var(--space-1);

  /* Media queries */

@custom-media --breakpoint-sm (min-width: 40em);
@custom-media --breakpoint-md (min-width: 52em);
@custom-media --breakpoint-lg (min-width: 64em);
}
